/* Color Palette https://coolors.co/8ea4d2-6279b8-49516f-496f5d-4c9f70 */

:root {
    --primary-color: #49516f;
    --secondary-color: #6279b8;
    --accent1-color: #8ea4d2;
    --accent2-color: #496f5d;
    --heading-font: "Boldonse", system-ui;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.button {
    padding: 5px 50px;
    text-decoration: none;
    border: 2px solid #000;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    top: 1%;
    width: 100%;
    text-align: center;
    opacity: 80%;
}

article {
    position: absolute;
    background-color: rgba(142, 164, 210, 0.7);
    top: 10%;
    bottom: 40%;
    left: 10%;
    right: 10%;
    padding: 20px;
    margin: 40px;
}

article img {
    max-width: 250px;
    float: right;
    display: block;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: "Gidole", sans-serif;
    font-weight: 400;
    color: #000;
}

section {
    clear: both;
}

section img {
    width: 150px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: justify;
    align-items: center;
}

.grid-container1 img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.grid-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

footer {
    position: relative;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.social {
    position: absolute;
    top: 38%;
    right: 0;
    text-align: right;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 24px;
}