.callout {
    max-width: 50%;
    margin: 25px;
    border: 0px;
    padding: 25px;
    background-color: darkblue;
    color: white;
}

.callout img {
    position: right;
    margin: 25px;
    border: 5px solid white;
    padding: 0px;
    background-color: white;
    width: 20%;
}

blockquote {
    margin: 25px;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding-top: 25px;
    text-align: right;
    font-size: 14px;
    font-style: italic;
}