.callout {
    max-width: 33%;
    margin: auto;
    border: 1px solid black;
    padding: 15px 15px 0px 15px;
    background-color: #214477;
    color: white;
    font-size: 18px;
}

.callout img {
    float: right;
    margin: 0px 0px 10px 10px;
    border: 1px solid black;
    padding: 3px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
}

blockquote {
    margin: 10px 0px 10px 0px;
}

cite {
    display: block;
    border-top: 1px dotted white;
    padding-top: 2px;
    text-align: right;
    font-size: 16px;
}