/* This is my comment */

:root {
    --main-blue: darkblue;
    --main-border: 1px solid rgb(0 0 0 / 0.2);
    --accent-grey: #eee;
}

nav {
    background-color: var(--main-blue);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-blue);
}

main img {
    width: 150px;
    height: auto;
    border: var(--main-border);
    padding: 2px;
    box-shadow: 0 0 30px var(--accent-grey);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--main-border);
    padding: 1rem;
    background-color: var(--accent-grey);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--main-border);
    text-align: center;
}